body {
    padding: 0em;
    margin: 0em;
	background: #fdfdfd;
	color: #353535;
	font: normal 18px/26px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 { font-size: 32px; line-height: 50px; margin: 25px 0; }
h2 { font-size: 24px; line-height: 50px; margin: 25px 0; }
h3 { font-size: 20px; line-height: 25px; margin: 25px 0; }
h4 { margin: 0 0 22px; font-size: 16px; line-height: 22px; }
h5 { margin: 0 0 22px; font-size: 14px; line-height: 22px; }
h6 { margin: 0 0 22px; font-size: 12px; line-height: 22px; }

ul { margin: 0; }

a {	color: #55757B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#site {
    margin: 0em auto;
	padding: 0em 0em 0em 1em;
    width: 40em;
    min-height: 48em;
    position: relative;
}

h1.header {
	display: inline;
	padding: 0em;
	margin: 0em;
	font-size: 24px;
	text-align: left;
}

.context-nav {
	display: inline;
    padding: 0em;
	text-align: left;
	list-style-type: none;
	right: 0;
}

.context-nav a {
    color: #4D6680;
}

.separator {
	color: #ff6072;
	font-weight: bold;
}

ul.lang {
	padding: 0em;
	margin: 0em;
	text-align: right;
	float: right;
	list-style-type: none;
}

.lang li {
	display: inline;
	margin: 0em;
}

.lang a {
	padding: 0em 0.6em;
    color: #4d6680;
}

ul.sitenav {
	padding: 0px;
	margin: 0px;
	clear: left;
	text-align: left;
    border-bottom: 3px solid #4d6680;
	list-style-type: none;
}

.sitenav li {
    display: inline;
    margin: 0em 0.2em 0em 0em;
}

.sitenav a {
	padding: 0.2em 0.6em 3px 0.6em;
    background-color: #bfcfef;
    color: #4d6680;
}

.lang .selected a,
.sitenav .selected a {
    background-color: #4d6680;
    color: #bfcfef;
}

#content-header {
    padding-bottom: 0.5em;
}

#content-header h1 {
    border-bottom: 2px dotted #4d6680;
    margin-bottom: 0.5em;
}

#footer {
    text-align: center;
    border-top: 1px solid #b5cce3;
    margin: 2em auto 0;
    font-size: 0.7em;
}

.post-date {
    float: right;
    font-style: italic;
    font-size:.8em;
}