{% extends "skeleton/_body.html" %}

{% hyde
    title: "Biographie"
    created: 2010-12-22
    listing: True
    display_in_list: False
    language: "Français"
%}

{% block content_body %}
{% markdown %}

Hubert Hanghofer il est né le 12 novembre 1931 à Schenkenfelden (Haute Autriche). Il fit ses études à l'école normale épiscopale de Linz où il passa aussi son bac (et en musique: il passa l'épreu-ve auprès du Prof. Josef Kronsteiner). Après sa formation professionnelle d'enseignant, il absolut l'examen d'éducation musicale et de composition auprès du Professeur Waldeck au Brucknerkonservatorium et auprès du Proffesseur Kögler à Wels.

Il habite à Thalheim près de Wels depuis 1955 et y était et est directeur d'école, organiste et directeur du Choeur de Motettenchor Thalheim. Il s'est déjà fait connaître pour ses compositions alors qu'il était jeune enseignant. Depuis il a écrit de nombreuses œuvres pour chorales, pour chanteurs, mais aussi pour joueurs d'instrument à vent ou pour harmonie.

{% endmarkdown %}
{%endblock%}
