{% extends "skeleton/_root.html" %}
{% block all %}
{% markdown %}
{{ page.editor1 }}: Kirchenmusik Referat der [Diözese Linz](http://www.dioezese-linz.at/), Kapuzinerstraße 84, A-4020 Linz, AUSTRIA

- Krippenmesse für gem. Chor, Soli, Flöte, 2 Violinen und Orgel
- Messe in As für gem. Chor, Bläserquartett und Orgel
- Deutsche Messe in e-moll für gem. Chor und Orgel
- Deutsche Messe in g-moll für gem. Chor, 2 Trompeten, 2 Posaunen und Tuba
- Deutsche Messe zur Weihnacht für gem. Chor und Orgel 
- Deutsche Messe für gem. Chor, Volksgesang, Bläserquartett und Orgel mit Verwendung der Kirchenlieder (Gotteslob Nr. 168, 258, 257 und 537) 
{% endmarkdown %}
{% endblock %}
