{% extends "skeleton/_body.html" %}

{% hyde
    title: "Biography"
    created: 2010-12-20
    listing: True
    display_in_list: False
    language: "English"
%}

{% block content_body %}
{% markdown %}

Hubert Hanghofer was born on 12th November 1931 in Schenkenfelden (Upper Austria). He studied at the episcopalian teacher training college in Linz (now Musikgymnasium - a secondary school focusing on music), where he did the A-levels in music under Prof. Josef Kronsteiner (conductor of the Linz Cathedral Orchestra) in 1952. In subsequent years he studied harmony under Prof. Kögler in Wels and orchestration under Prof. Waldeck at the "Brucknerkonservatorium" in Linz. He also passed the examination for musical education with distinction.

Since 1955 he lives in Thalheim near Wels (Upper Austria) where he founded and conducted the "Motet Choir". He was employed as teacher and finally became principal of the regional school. To date he holds an office as organist for 55 years. He has been already composing as a young teacher. Since then he wrote many pieces for choir, organ, vocal and instrumental solists but also for brass- and wind-orchestra. His works have been published by the music-department of the [bishopric in Linz](http://www.dioezese-linz.at/) and by [Blasmusikverlag Adler](http://www.adler-musikverlag.com/) in Bad Aussee.

{% endmarkdown %}
{%endblock%}
