{% extends "skeleton/_body.html" %}

{% hyde
    title: "Biografie"
    created: 2010-12-19 12:00:00
    listing: True
    display_in_list: False
    language: "Deutsch"
%}

{% block content_body %}
{% markdown %}

Hubert Hanghofer wurde am 12. November 1931 in Schenkenfelden (Oberösterreich) geboren. Er studierte am Bischöflichen Lehrerseminar (heute Musikgymnasium) in Linz, wo er 1952 bei Prof. Josef Kronsteiner (Domkapellmeister) in Musik maturierte. In den weiteren Jahren erweiterte er sein Wissen im Tonsatz bei Prof. Kögler in Wels und in der Instrumentation bei Prof. Waldeck am Bruchnerkonservatorium in Linz. Außerdem legte er die Fachprüfung für Musikerziehung mit Auszeichnung ab.

Seit 1955 wohnt er in Thalheim bei Wels, gründete  dort den Motettenchor, war an der dortigen Schule Lehrer und dann Schulleiter. Das Organistenamt übt er nun schon 55 Jahre aus. Kompositorisch trat er bereits als junger Lehrer in Erscheinung. Seither hat er zahlreiche Werke für Chor, Gesangs-und Instrumentalsolisten, für Orgel und Blasorchester geschrieben, die zum Teil beim Musikreferat der [Diözese Linz](http://www.dioezese-linz.at/) und beim [Blasmusikverlag Adler](http://www.adler-musikverlag.com/) Bad Aussee verlegt sind. 

{% endmarkdown %}
{%endblock%}
